:root{
    --color-background: #f0f0f7;
    --color-primary-lighter: #9871f5;
    --color-primary-light: #916bea;
    --color-primary: #8257e5;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    
}